<html>
<h1>Шавнев Никита Михайлович, 4 курс, 4 группа, 2023</h1>
<br>
<img src="static/super.gif" width="30%">
<br>
<br>
<input id="a"/>
<select id="op">
  <option name="+">+</option>
  <option name="-">-</option>
  <option name="*">*</option>
  <option name="/">/</option>
</select>
<input id="b"/>
<button id="calculate" disabled>=</button>
<label id="result"></label>
<br>
<label id="error"></label>
</html>

<script>
function isZero(val) {
    const regex = /^-?((0{2,3} ?(0{3} ?){0,3})|(0 ?(0{3} ?){0,4}))((\.|,)0{1,6})?$/
    return regex.test(val)
}

function checkVal(val) {
    const regex = /^-?((\d{2,3} ?(\d{3} ?){0,3})|(\d ?(\d{3} ?){0,4}))((\.|,)\d{1,6})?$/
    return regex.test(val)
}

function check() {
    let errorMsg = ""
    document.getElementById("calculate").disabled = false;
    document.getElementById("b").style.color = "black"
    document.getElementById("a").style.color = "black"
    if (!checkVal(document.getElementById("a").value)) {
        document.getElementById("a").style.color = "red"
        errorMsg += "first operand is not number! "
        document.getElementById("calculate").disabled = true;
    }
    if (!checkVal(document.getElementById("b").value)) {
        document.getElementById("b").style.color = "red"
        errorMsg += "second operand is not number! "
        document.getElementById("calculate").disabled = true;
    }
    if ((document.getElementById("op").value == "/") &&
        (isZero(document.getElementById("b").value))) {
        document.getElementById("b").style.color = "red"
        errorMsg += "cannot divide by zero!"
        document.getElementById("calculate").disabled = true;
    }
    document.getElementById("error").innerText = errorMsg;
}

function calculate() {
    fetch("/calculate", 
    {
        method: "POST", 
        headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            a: document.getElementById("a").value,
            b: document.getElementById("b").value,
            op: document.getElementById("op").value,
        })
    })
    .then(response => response.json())
    .then(data => document.getElementById("result").innerText = data["result"])
}

check()
document.getElementById("calculate").addEventListener("click", calculate)
document.getElementById("a").addEventListener("input", check)
document.getElementById("b").addEventListener("input", check)
</script>
